*,*::before,*::after{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-size: 17px;
}

ul,ol,li{
  list-style: none;
  font-size: inherit;
}

a{
  text-decoration: none;
  color:inherit;
}


